@{
    ViewBag.Title = "Cars";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<head>
    <meta charset="utf-8" />
    <title>Car App</title>
    <script type="text/javascript" src="@Url.Content("/Scripts/knockout-3.5.1.js")"></script>
</head>
<body>
<form data-bind="submit: doSubmit">
    Make: <input type="text" name="txtMake" data-bind="value: Make"/><br/>
    Power: <input type="number" name="numPower" data-bind="value: Power" style="margin-top: 10px; margin-bottom: 10px"/><br/>
    <div style="align-content: center; border: 0.25px solid black; border-radius: 5px; padding-left: 5px; padding-right: 5px; display: inline-block">
        Convertible: <input type="checkbox" value="convertible" data-bind="checked: Convertible"/><br/>
    </div>
    <p>
        This car is <span data-bind="text: MakeAndPower"/>
    </p>
    <style>
            .button {
                border: none;
                color: white;
                padding: 8px 16px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .button1 {
                background-color: white;
                color: black;
                border: 2px solid #4CAF50;
                border-radius: 10px;
            }

                .button1:hover {
                    background-color: #4CAF50;
                    color: white;
                }
        </style>

    <button type="submit" class="button button1">Add car</button>
</form>

    <script>
        var MakeViewModel = function (make, power, convertible) {
            this.Make = ko.observable(make);
            this.Power = ko.observable(power);
            this.Convertible = ko.observable(false);
            this.MakeAndPower = ko.computed(function () {
                if (this.Convertible()) {
                    return this.Make() + ', ' + this.Power() + 'hp, convertible';
                }
                else {
                    return this.Make() + ', ' + this.Power() + 'hp';

                }
            }, this);
            
            this.doSubmit = function () {
                var submitData = {
                    Make: this.Make(),
                    Power: this.Power(),
                    Convertible: this.Convertible() 
                };
                $.post('@Url.Action("SaveCar")', submitData);
            };
        }

        ko.applyBindings(new MakeViewModel("Acura", 230))
    </script>
</body>